<!-- Back to Top -->
<button type="button" id="btnBTT" class="btn btn-lg btn-primary btn-lg-square back-to-top" onclick="console.log('click');"><i id="iconBTT" class="bi bi-arrow-up"></i></button>
<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #ffffff;box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; margin-top:50px" >
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
   

    <div style=" justify-content:center;text-align:center; margin-left:625px">
      <a href="#" class="me-4 text-reset" >
        <i class="fab fa-facebook-f" style="color: black;"></i>
      </a>
      <a href="#" class="me-4 text-reset" >
        <i class="fab fa-twitter" style="color: black;"></i>
      </a>
      <a href="#" class="me-4 text-reset" >
        <i class="fab fa-google" style="color: black;"></i>
      </a>
      <a href="#" class="me-4 text-reset" >
        <i class="fab fa-instagram" style="color: black;"></i>
      </a>
      <a href="#" class="me-4 text-reset" >
        <i class="fab fa-linkedin" style="color: black;"></i>
      </a>
      <a href="#" class="me-4 text-reset" >
        <i class="fab fa-github" style="color: black;"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <div style="display:flex; column-gap:10px">
                    <img style="width:70px;height:70px" src="/img/logo.png">
                    <h6 class="fw-bold mt-4 logo-text" style="color: black;" >
          An Tam Hospital
          </h6>
                </div>
          <br>
          <p style="color: black;">
            “Người ta trả tiền cho công sức của bác sỹ, còn sự tử tế của bác sỹ vẫn mãi là món nợ ân tình” - Seneca.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 " style="margin-top: 5px;">
          <!-- Links -->
          <h6 class="fw-bold mb-4" style="color: black;">
            Liên kết
          </h6>
          <p style="color: black;">
            <a href="#!" class="text-reset" >Tra cứu</a>
          </p><br>
          <p style="color: black;">
            <a href="#!" class="text-reset" >Chỉnh sửa</a>
          </p style="color: black;">
          <br>
          <p style="color: black;">
            <a href="#!" class="text-reset" >Tài liệu</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0" style="margin-top: 3px;">
          <!-- Links -->
          <h6 class="fw-bold mb-4" style="color: black;">Liên hệ</h6>
          <p style="color: black;"><i class="fas fa-home me-3"></i> Thành phố Hồ Chí Minh, Việt Nam</p><br>
          <p style="color: black;">
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p><br>
          <p style="color: black;"><i class="fas fa-phone me-3"></i> + 01 234 567 88</p><br>
          <p style="color: black;"><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="border-top:1px solid #b9b9b9; margin-top:30px">
    <p style="color: black;">© 2023 Copyright - An Tam Hospital</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<style>
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
.logo-text{
    	font-family: "Audiowide", cursive;

}
</style>