<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img
            src="https://img.freepik.com/free-vector/doctor-professional-team-cartoon-art-illustration_56104-640.jpg?w=996&t=st=1702302678~exp=1702303278~hmac=910121b5dd29e8949db393d6b405ff59bc111baa78d7ecbdfea5ec56e280ef97"
            style="border-top-left-radius: .3rem; border-top-right-radius: .3rem; width:635px;height:300px;object-fit:cover"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Đăng nhập</h3>
            <form class="px-md-2" action="/dang-nhap" method="POST">
              {{!-- Username input --}}
              <div class="form-floating mb-4 form-floating">
                <input type="text" id="username" class="form-control" name="Username" value="{{Username}}"
                  placeholder="Username" required />
                <label class="form-label" for="username">Username</label>
              </div>

              <p class="text-danger d-{{errWrongUsername}}">Username không tồn tại</p>

              {{!-- Password input --}}
              <div class="form-floating mb-4 form-floating">
                <input type="password" id="password" class="form-control" value="{{Password}}" name="Password"
                  placeholder="Mật khẩu" required />
                <label class="form-label" for="password">Mật khẩu</label>
              </div>

              <p class="text-danger d-{{errWrongPassword}}">Mật khẩu không chính xác</p>
              </div>


              {{!-- Button submit --}}
              <button type="submit" class="btn btn-success btn-lg mb-4">Đăng nhập</button>

              {{!-- Link login --}}
              <p class="mb-1" style="color: #000;">Bạn chưa có tài khoản? Đăng ký tại <a href="/dang-ky-tai-khoan"
                  style="color: rgb(0, 102, 255);">đây</a></p>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>